.about-container {
  margin-top: 20vh;
  margin: 0 auto;

  .terminal {
    .terminal-header {
      height: 28px;
      // background-color: #e4e3e5;
      background-color: #2b313c;
      border-radius: 10px 10px 0 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .header-button {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 9px;
      }

      .red {
        // background-color: #f96256;
        // border: solid 1px #f65549;
        background-color: #d31919;
        border: solid 1px rgb(239, 73, 62);
      }

      .yellow {
        // background-color: #fdbc3d;
        // border: solid 1px #ffb524;
        background-color: #377cf1;
        border: solid 1px #2c71e9;
      }

      .green {
        // background-color: #33c948;
        // border: solid 1px #2dbb41;
        background-color: #fd7d00;
        border: solid 1px #f37a00;
      }
    }

    .terminal-window {
      // background-color: $fadedPurple;
      background-color: $linux;
      border-radius: 0 0 10px 10px;
      box-shadow: 0 50px 100px rgba(50, 50, 93, 0.15),
        0 15px 35px rgba(50, 50, 93, 0.2), 0 5px 15px rgba(0, 0, 0, 0.12);
      font-family: 'Monaco', Consolas, 'Lucida Console', monospace;

      a {
        color: $linkTeal;
      }

      .statement:first-child {
        padding-top: 35px;
      }

      .statement:last-child {
        padding-bottom: 60px;
      }

      .statement {
        font-size: 15.5px;
        margin-bottom: 25px;
        margin-left: 35px;
        margin-right: 35px;
        line-height: 24px;
        
        .input-statement {
          color: #f7f7f7;

          &:before {
            content: '>\a0';
          }
        }

        .return-statement {
          color: #e7d184;
        }

        span {
          background: rgba(247, 247, 247, 0.65);
          animation: caret 1s steps(1) infinite;
        }

        @keyframes caret {
          50% {
            background-color: transparent;
          }
        }
      }
    }
  }
}
