$purple: #747fe0;
$grey: #525f7f;
$lightGrey: #f0f0f0;
$fadedPurple: #5a5d7a;
$linux: #2e3440f3;
$fadedBlue: #7795f8;
$highlighterGreen: #92eac0;
$linkTeal: #35feff;
$softTeal: #35ffff6f;
$pink: #f535ff;
$electricGreen: #29ff50ec;